body{
    background:rgb(129, 21, 39);
    
    
}

body h3{
    color:rgb(0, 0, 0);
}

h1{
    color: rgb(0, 0, 0);
}
 ol{
    color: rgb(3, 3, 3);
 }
 
 article{
background: #601f1f;
 }
    
    p{
        color: #000000;
    }

iframe{
    height: 500px;
    width: 500px;
}

.img{
    animation-duration: 2s;
}








