body{
    background:rgb(129, 21, 39);
    
    
}

body h3{
    color:white;
}

h1{
    color: black;
}
 ol{
    color: white;
 }
    
    p{
        color: #000000;
    }

iframe{
    height: 5000px;
    width: 500px;
}

.img{
    animation-duration: 2s;
}








